name: CI

on:
    push:
        branches:
            - 'master'

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: EdricChan03/action-build-deploy-ghpages@v2.2.1
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        gh_pages_token: ${{ secrets.GH_PAGES_TOKEN }}
        gh_pages_commit_message: "Deploy Jekyll."
